.mlsql-register {
  display: flex;
  justify-content: center;
}

.mlsql-register-form {
  width: 400px;
  margin-top: 60px;
}

.mlsql-register-messagebox {
  background-color: burlywood;
  margin-top: 10px;
  padding: 10px 10px;

}