.ws-app {
    display: flex;
    margin-top: 30px;
    flex-wrap: nowrap;
    width: 100%;
    margin: 10px 10px;
}

.ws-left-pane {
    display: flex;
    justify-content: left;
    margin-right: 20px;
}

.ws-right-pane {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
}

.ws-operate-pane {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

.ws-table-pane {
    display: flex;
    width: 100%;
}
