.mlsql-directory-tree-box {
  display: flex;
  align-items: stretch;
  width: 300px;
}

.mlsql-directory-tree {
  display: block;
}

.msql-treenode-dialog {
  display: flex;
  justify-content: center;
}

.msql-treenode-dialog-form {
  display: flex;
  flex-flow: column;
  width: 400px;
  justify-content: center;
}