.common-child-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.common-margin {
    margin: 30px 30px;
}

.common-one-hundred-percent-width {
    width: 100%;
}

.common-eighty-percent-width {
    width: 80%;
}